# Configuration du serveur FiveM - Privé et Sécurisé

## Paramètres de base
set mysql_connection_string "server=localhost;database=nullbase;userid=root;password="
endpoint_add_tcp "0.0.0.0:30113"
endpoint_add_udp "0.0.0.0:30113"

## Informations du serveur
sv_hostname "Null's Base"
sv_maxclients 1
sv_endpointprivacy false  # Rend le serveur privé sur les listes publiques
set sv_forceIndirectListing true
set sv_listingIPOverride ""
sets activitypubFeed null@mastodon.social
 
## Sécurité et confidentialité
sv_authMaxVps 1
sv_scriptHookAllowed false
sv_allowCheatCommands false
sv_disableNetGame true

## Clé de licence (à remplacer avec votre clé)
sv_licensekey "" # 
sv_enforceGameBuild 3751 #mp2025_01	- Money Fronts
set steam_webApiKey "none"
set resources_useSystemChat true

setr serverName "Null's Base" 
setr serverColor "~b~" 
setr jsColor "^5" 
setr bannerUrl ""
setr serverCHAR "https://cdn.discordapp.com/attachments/1463532077231374403/1546603567274790995/LOGO_sans_fond.png?ex=6aa06250&is=6a9f10d0&hm=36fd1e578a1493471cd9f16b98288cf65f0990b450235166d74f758fcb000600&"
setr discordAPI "000000000000"
setr boutiqueLink "Null's Base"
setr serverDiscord "Null's Base"
setr serverDiscord2 "Null's Base"
setr r "124"
setr g "58"
setr b "237"

setr hexcolor "#7C3AED"

setr ox:primaryColor "violet"
setr ox:primaryShade 6

setr FivemHudIndex "22"

setr type "FA"

setr WL_MDP "AUCUN"

setr Owner-IDUnique "1"

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:5365910 group.admin #La-R
add_ace resource.null-core command allow
add_ace resource.null-cache command allow

# Besoins pour les ressources.
setr sv_showBusySpinnerOnLoadingScreen false
start [cfx]
start [dependance]
start null-deps
start null-core

# Ressources qui étaient démarrées automatiquement par null-loader.
start null-ui
start null-cache
start null-image-maker
start null-stream
start null-crimenet
start null-taxi-app
start null-immo-app
start null-dealwp
start atmrobbery
start Animations
start pmms-dui
start PlayVideo
start pmms
start fb_fuel
start cuchi_computer
start BankATM
start posters
